.footer {
  background: #212121;
  height: 8.5rem;
}

.menu__items {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu__item__link {
  display: flex;
  flex-flow: column;
  text-decoration: none;
  color: var(--gray);
  text-align: center;
}

.item__link--img {
  margin-bottom: .99rem;
}
