.header {
  background-color: var(--mainColor);
  width: 100%;
  height: 13.6rem;
  display: flex;
}

.header__titles {
  padding: 3rem;

}

.h2-like {
  font-size: var(--small);
  text-transform: uppercase;
}

.h1-like {
  font-size: var(--big);
  display: flex;
  align-items: center;

  &::after {
    content: url(../assets/img/plan-based-coffee.png);
    display: inline-block;
  }
}

@media only screen and (min-resolution: 3dppx) {

  .h1-like::after {
    content: url(../assets/img/plan-based-coffee@2x.png);
  }
}
