.emptystate {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 4.7rem 0;
}

.emptystate__content {
  margin-top: 1.5rem;
  font-size: 1.8rem;
  color: #9c9c9c;
}

.title_mini {
  text-transform: uppercase;
  margin: 3rem;

}

.hide {
  display: none;
}

.order__amount {
  color: var(--mainColor);
  margin-right: 1.2rem;
}

.order {
  font-size: var(--regular);
  border-bottom: .1rem var(--gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.remove {
  font-size: var(--regular);
  color: var(--gray);
}

.orders {
  display: flex;
  flex-flow: column;
  margin: 3rem;
}

.order__price {
  align-self: right;
}
