.emptystate {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 4.7rem 0;
}

.emptystate__content {
  margin-top: 1.5rem;
  font-size: 1.8rem;
  color: #9c9c9c;
}

.title_mini {
  text-transform: uppercase;
  margin: 3rem;

}

.hide {
  display: none;
}

.order__amount {
  color: var(--mainColor);
  margin-right: 1.2rem;
}

.order {
  font-size: var(--regular);
  padding-bottom: 1rem;
  border-bottom: solid .1rem var(--gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.remove {
  font-size: var(--regular);
  color: var(--gray);
  padding: 1rem;
}

.orders {
  display: flex;
  flex-flow: column;
  margin: 3rem;
  height: 16.3rem;
  overflow: auto;
}

.order__price {
  align-self: right;
}

.total__label {
  font-size: var(--regular);
  margin: 0 3rem 1rem;
  font-weight: bold;
}

.total {
  display: flex;
  justify-content: space-between;
}

.total__price {
  font-weight: bold;
  font-size: var(--regular);
  margin: 0 3rem 1rem;
}
