.emptystate {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 4.7rem 0;
}

.emptystate__content {
  margin-top: 1.5rem;
  font-size: 1.8rem;
  color: #9c9c9c;
}

.title_mini {
  text-transform: uppercase;
  margin: 3rem;

}

.hide {
  display: none;
}
