:root {
  /* colors */
  --mainColor: #f9d2cb;
  --darkColor: #212121;
  --secondaryColor: #a3f4dc;
  --gray: #9c9c9c;
  --margin: 3rem;

  /* font-sizes */
  --small: 1.2rem;
  --regular: 1.8rem;
  --big: 2.6rem;
}
