@import './css/reset.css';
@import './css/vars.css';
@import './css/header.css';
@import './css/orders.css';
@import './css/footer.css';
@import './css/coffeeButton.css';

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

/* stylelint-disable */
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* stylelint-enable */

.visually-hidden {
  visibility: hidden;
}

.highlight {
  background-color: var(--mainColor);
}

@media only screen and (min-width: 828px) {

  .layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr auto;
  }

  .content {
    grid-area: 1 / 2 / span 2 /span 3;
  }

  .prices__list {
    display: flex;
    flex-flow: column;
    margin-bottom: 4.2rem;
  }

  .orders {
    height: 50rem;
  }

  .price {
    margin-bottom: 1.2rem;
  }

  .emptystate {
    margin-top: 25rem;
  }

  .prices::after {
    content: url(/assets/img/plan-based-coffee.png);
    position: relative;
    margin: 5rem;

    @media only screen and (min-resolution: 3dppx) {

      .prices::after {
        content: url(/assets/img/plan-based-coffee@2x.png);
      }
    }
  }

  .h1-like::after {
    content: none;
  }
}
