@import './css/reset.css';
@import './css/vars.css';
@import './css/header.css';
@import './css/orders.css';
@import './css/footer.css';
@import './css/coffeeButton.css';

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

/* stylelint-disable */
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* stylelint-enable */

.visually-hidden {
  visibility: hidden;
}

.highlight {
  background-color: var(--mainColor);
}
